@import "./sidebar";
@import "./reset";
@import "./dark";

.app-container {
  padding: 20px;

  .search {
    padding: 18px 0 0 10px;
    margin-bottom: 10px;
    background-color: var(--el-bg-color-overlay);
    border: 1px solid var(--el-border-color-light);
    border-radius: 4px;
    box-shadow: var(--el-box-shadow-light);
  }

  .resetBtn {
    font-weight: 500;
    border: none;
  }

  .moreBtn {
    font-weight: 500;
    color: #356ff3;
    background: #fff;
    border: 1px solid #356ff3;
    border-radius: 4px;
  }

  .moreBtn:hover {
    color: #fff;
    background: #356ff3;
  }
}
