// 全局SCSS变量

//background: #356FF3;
:root {
  --menuBg: #fff;
  --menuText: #474747;
  --menuActiveText: #356ff3;
  --menuHover: rgb(53 111 243 / 16%);
  --subMenuBg: #fff;
  --subMenuActiveText: #356ff3;
  --subMenuHover: rgb(53 111 243 / 16%);
}

$menuBg: var(--menuBg);
$menuText: var(--menuText);
$menuActiveText: var(--menuActiveText);
$menuHover: var(--menuHover);

$subMenuBg: var(--subMenuBg);
$subMenuActiveText: var(--subMenuActiveText);
$subMenuHover: var(--subMenuHover);

$sideBarWidth: 160px;
